.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  color: black;
  background-color: #ffffff;
  height: 100vh;
  width: 100%;
  margin-left: 240px;
  margin-top: 64px;
}

.title {
  margin: 2rem 3rem;
  display: flex;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin: 0 3rem;
}

