.tabela {
    max-width: 100%;
    min-width: fit-content;
    padding: 21px;
    width: 100%;
}

.table-bordered,th, tr, td{
    background: #FBFBFB;
    border: none;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.25);
}

.react-bootstrap-table{
    text-align: center;
}
th{
   
}

.crud-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.tasks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    color: black;
    background-color:#FFFFFF;
    height: 100vh;
    width: 100%;
    margin-left: 240px;
    margin-top: 64px;
    align-items: center;
}

.getdata-div {
    width: 90%;
}

.searchNewButton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
.headline{
    padding-left: 60px;
    padding-top: 30px
}
.searchInput{
    width: 709px;
    height: 40px;
    margin-left: 408px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}
.newItemLink{
    /* margin-right: 77px; */
    /* width: 200px; */
    margin-right: 77px;
}

.add-btn {
    background: #0E262D;
    box-shadow: 0px 2px 4px #858584;
    border-radius: 32px;
    margin-top: 5px;
}
.lupa{
    height: 20px;
    width: 22px;
    display: flex;
}
.searchField{
    width: 613px;
    height: 24px;
    
}
.filter{
    height: 20px;
    width: 22px;
    display: flex
}
.searchFilter{
    width: 613px;
    height: 24px;
    margin-bottom: 5px;
    text-align: center;
    border: none;
}
.topPage{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.belowHeadline{
    display: flex;
    justify-content: space-between;
}
.magnifyIcon{

}
h2 {
    
}

.tabelDownloadIcon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.tabelCompletedIcon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    padding-top: 58px;
}